<div class="container">
    <div [formGroup]="this.NewEmployeeForm">
       
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
        </div>
        <br>

        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
        <br>

        <div class="form-group">
            <label for="tz">Tz:</label>
            <input class="form-control" id="tz" formControlName="tz">
        </div><br>

        <div class="form-group">
            <label for="dateOfBirth">Birth-Date: </label>
            <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth">
        </div><br>

        <div class="form-group mb-3">
            <label for="gender" class="form-label">Gender:</label>
            <span class="material-symbols-outlined">
                man
            </span>
            <span class="material-symbols-outlined">
                woman
            </span>
            <select id="gender" class="form-select" formControlName="gender">
                <option [value]="0">Male</option>
                <option [value]="1">Female</option>
            </select>
        </div>

        <div class="form-group">
            <label for="beginningOfWork">Entry Date:</label>
            <input type="date" id="beginningOfWork" class="form-control" formControlName="beginningOfWork">
        </div><br>
        <span (click)="addRoles()" class="material-symbols-outlined clickMe">
            school
        </span>
        <br>
        <div *ngFor="let i of range(1, countAdd)">
            <app-add-role-to-employee [fromEdit]="fromEdit" (dataEvent)="addItem($event)"></app-add-role-to-employee>
        </div>
        <button type="submit" class="btn btn-outline-success" [disabled]="!this.NewEmployeeForm.valid"
            (click)="addNewEmployee()"><span class="material-symbols-outlined">person_add</span></button>
    </div>
</div>